---
layout: layouts/post.liquid
title: Page not found
description: Page not found
date: 2025-02-28
keywords: []
permalink: 404.html
---

<article class="post-single">
  <h1 class="not-found">Not found (404)</h1>
  <p>TODO</p>
</article>
