<div class="section-carousel">
  <div class="carousel-description">
    <h2>{{ t.index.section_carousel.title }}</h2>
    {{ t.index.section_carousel.content }}
  </div>

  <div class="carousel-wrapper">
    <div class="carousel-track">
      <div class="carousel-content">
        {% render "partials/annoyances.liquid" i18n: i18n, page: page %}
        <!-- We need to copy-paste the group for the carousel effect -->
        {% render "partials/annoyances.liquid" i18n: i18n, page: page %}
      </div>
    </div>
  </div>
</div>
