<div class="section-facts">
  <div class="description">
    <div class="section-facts-header">
      <h2>{{ t.app_pages.facts_title | replace: '%app%', name }}</h2>
    </div>

    <ul>
    {%- for fact in facts %}
      <li>{{ fact | markdownBlock }}</li>
    {%- endfor %}
    </ul>

    {{ facts_source | markdownBlock }}
  </div>
</div>

