/* social-media-timer, monetization */
.third-party-apps {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: calc(var(--gap) / 2);
  width: 100%;
  margin: 0 auto;
  margin-bottom: var(--gap);
}
.third-party-apps .card {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.third-party-apps .card h3,
.third-party-apps .card h4 {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
}
.third-party-apps .card p,
.third-party-apps .card div {
  hyphens: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.third-party-apps .card p {
  margin-bottom: 0.5rem;
}
.third-party-apps .card p:last-child {
  margin-bottom: 0;
}
.third-party-apps .card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: var(--radius);
  margin-bottom: 0.5rem;
}
.third-party-apps .card-content {
  flex-grow: 1;
  hyphens: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.third-party-apps .card h4 .platforms {
  display: inline-flex;
  align-items: center;
  font-size: 0.5em;
  opacity: 0.8;
  padding: 0 4px;
  vertical-align: middle;
  gap: 4px;
  font-weight: 100;
}
.third-party-apps .card h4 .platforms svg {
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
  display: inline-block;
}
.ios-icon {
  margin-bottom: 2px;
}
@media (max-width: 600px) {
  .third-party-apps {
    grid-template-columns: 1fr;
  }

  .third-party-apps .card {
    max-width: 100%;
  }
}
