.post-main header a {
  display: block;
  text-align: center;
}
.post-main header .logo {
  margin: 15px auto;
  height: 3.5rem;
}
.post-main header .logo-light {
  display: block;
}
.post-main header .logo-dark {
  display: none;
}
@media (prefers-color-scheme: dark) {
  .post-main header .logo-light {
    display: none;
  }
  .post-main header .logo-dark {
    display: block;
  }
}

.post-main {
  max-width: 768px;
  margin: 0 auto;
}
.post-main code {
  font-size: 1.1rem;
}

/* Gaps between content */
.post-main dl,
.post-main ol,
.post-main p,
.post-main figure,
.post-main ul,
.post-main blockquote {
  margin-bottom: 20px;
}
.post-main blockquote {
  margin: 20px 0;
  padding: 0 14px;
  border-inline-start: 3px solid var(--foreground);
}
.post-main h2 {
  margin-bottom: 1rem;
}
.post-main ol,
.post-main ul {
  padding-inline-start: 20px;
}
.post-main li {
  margin-top: 5px;
}
.post-main li p {
  margin-bottom: 0;
}
.post-main li > p,
.post-main li > ul {
  margin-top: 5px;
  margin-bottom: 0px;
}

/* The post */
.post-single {
  margin-top: calc(var(--gap) * 2);
  margin-bottom: calc(var(--gap) * 2);
}

.post-single .post-header {
  margin-bottom: var(--gap);
  text-align: center;
}
.post-single .post-header .post-title {
  margin-bottom: 5px;
}
.post-single .post-header .post-meta {
  width: 100%;
  font-style: italic;
}

.post-single h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}
.post-single h2 {
  font-size: 2rem;
  line-height: 1.2;
}
.post-single h3 {
  font-size: 1.6rem;
  line-height: 1.2;
}
.post-single img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--radius);
}

/* Tables */
.post-single dl {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.post-single dt {
  width: 25%;
  font-weight: 700;
}
.post-single dd {
  width: 75%;
  margin-inline-start: 0;
  padding-inline-start: 10px;
}
.post-single dd ~ dd,
.post-single dt ~ dt {
  margin-top: 10px;
}
.post-single table {
  display: table;
  margin-bottom: var(--content-gap);
}
.post-single table th,
.post-single table td {
  min-width: 80px;
  padding: 8px 5px;
  line-height: 1.5;
  border-bottom: 1px solid var(--border);
}
.post-single table th {
  text-align: start;
}

/* The `#` anchors next to the headers */
.header-anchor {
  font-weight: normal;
  opacity: 0.2;
}
.header-anchor:hover,
.header-anchor:active {
  opacity: 1;
}

@media (max-width: 768px) {
  .post-main { margin: 10px; }
}
