---
lang: en
title: "My app sucked (but it's okay)"
description: "My first app idea bombed, but the feedback was priceless. Learn how asking for feedback saved SpeedBump."
keywords: ["speedbump app", "productivity app", "screen time", "social media addiction", "startup journey", "android", "user research"]
image: /assets/blog/v1/preview.jpg
imageAlt: A man crying but with a happy face. A snapchat-style text is overlaid with 'Smile through the pain'
date: 2025-02-26
---

<p>Collecting feedback is crucial when building a product, but often demoralizing when you realize what you’ve built sucks. That was the case with SpeedBump, an app designed to <a href="/en/blog/how-to-reduce-screen-time/">reduce phone usage.</a></p>
<p>SpeedBump came from personal frustrations of using my phone too much. I had a hunch that <a href="/en/app/instagram-addiction/">Instagram</a> or <a href="/en/app/tiktok-addiction/">TikTok</a> are so hyper-optimized, that we need something to make them less appealing. People use Instagram in browsers for a worse experience. So what if my app annoyed you every minute to help limit usage?</p>
<p>I gathered feedback, but validating ideas is tough. You can’t know if the idea works until you try it, to some extent. Rather than spending time on more user research (challenging for an engineer), I decided to just build it™. Also because I underestimated how easy it’d be, as always.</p>
<p>And it sucked. It totally sucked. The idea seemed great on paper, but in reality, it was too annoying. So users disabled it. When made less annoying, users simply developed muscle memory to get past the interruptions.</p>
<p>This learning and my new user base are a starting point for another attempt, though. I now know what questions to ask. So I created a <a href="https://forms.gle/Aj7DHyAxbWuNC3vW7" target="_blank">proper survey</a>, had a couple calls, and talked with people in person. Their main frustrations are:</p>
<ol>
  <li>Losing track of time. A tale as old as time: opening your phone for a quick break, and ending up watching a video of someone reviewing every single ceiling fan in their house at midnight, rating them on “whoosh factor” and “dust distribution patterns”.</li>
  <li>Wanting better ways to use addictive apps. Instagram is a great tool for connecting with friends, as long as you don't get stuck in Reels. Blocking them will soon be possible with SpeedBump.</li>
  <li>Needing to focus during specific periods.</li>
</ol>
<p>The original SpeedBump addressed the first issue, but with a flawed approach. Now, when you open an addictive app, it asks you how much time you’d like to spend. This gives you the opportunity to go: “hey, I didn’t actually mean to do this”. If you still decide it’s worth your time, you’ll be able to use the app uninterrupted. After time’s is up, SpeedBump starts annoying you with cats, the screen time police, or rain. You can come back after a 15 minute break.</p>
<p>It’s not perfect – users can’t always predict how long they’ll need, and it’s closer to existing screen time apps. Its unique perspective is lowering the barrier of entry to act on doomscrolling:</p>
<ul>
  <li>Simplicity: just select which apps to monitor, with timing decisions made in the moment. No need to spend time configuring schedules or advanced settings.</li>
  <li>Independence: not backed by Venture Capital or trying to “maximize shareholder value”.</li>
  <li>Dankness: silly annoyances might make more users give it a try.</li>
</ul>
<p>Regardless, I’m very happy to be at this point. Could it have been better? Sure. But I’ve done ten times better than I would have a few years ago. Changing SpeedBump was straightforward; no features actually had to be removed. Just a change in perspective.</p>
